WP_ENV=dev
WP_DEBUG=true
WP_DEBUG_DISPLAY=true

WP_SITE=http://app-wordpress.test/
WP_HOME=http://app-wordpress.test/
FORCE_SSL_ADMIN=false
FORCE_SSL_LOGIN=false

DB_NAME=project
DB_USER=project
DB_PASSWORD=project
DB_HOST=mysql.wordpress.orb.local
DB_CHARSET=utf8
DB_COLLATE=utf8mb4_unicode_ci
DB_PREFIX="wp_"

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

REDIS_HOST=redis
REDIS_PORT=6379

FS_METHOD='direct'
FS_CHMOD_DIR=0755
FS_CHMOD_FILE=0644
