<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{ fn('wp_head') }}
  </head>
  <body>
    <main class="w-full max-w-7xl mx-auto">
      <div>
        {{ post.content }}
      </div>
    </main>
  </body>
</html>
